@import '@/uni_modules/uni-scss/variables.scss';
@import '@/uni_modules/uv-ui-tools/theme.scss';

$my-color-primary:#D32F2F;
$uni-bg-color-grey:#6a6a6a;
$uni-color-primary:$uni-primary;
$uni-spacing-row-lg:$uni-spacing-lg;