$my-color-warn_primary:#D32F2F;
// $my-color-primary-second:#ff7373;
$my-color-primary:#15fa8b;
$my-color-primary-second:#ff7373;
$my-color-text-primary:#1ef68b;
$my-color-text-second:#71e6ac;
$my-color-btn-primary:#222222;
$my-color-btn-unact:#c8c8c8;
$my-color-money:#FA3232;
$my-color-money2:#00C865;

.fill-btn-primary {
	width: 100%;
	// font-size: 15px;
	color: $my-color-text-primary;
	border-radius: 30px;
	background-color: $my-color-btn-primary;
	height: 45px;
	display: flex; /* 开启flex布局 */
	justify-content: center; /* 水平居中对齐 */
	align-items: center; /* 垂直居中对齐 */
}

.fill-btn-primary-disabled {
	width: 100%;
	// font-size: 15px;
	color: #FFFFFF;
	border-radius: 30px;
	background-color: $my-color-btn-unact;
	height: 45px;
	display: flex; /* 开启flex布局 */
	justify-content: center; /* 水平居中对齐 */
	align-items: center; /* 垂直居中对齐 */
}

.class-ceter {
	display: flex; /* 开启flex布局 */
	justify-content: center; /* 水平居中对齐 */
	align-items: center; /* 垂直居中对齐 */
}

.expanded {
	-webkit-box-flex: 1;
	-webkit-flex:1;
	flex: 1;
}

.col-class {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.row-class {
	display: flex;
	flex-direction: row;
	// height: 100%;
}

.bg-color-white {
	background-color: white;
}

.input-color {
	// background-color: #9a9a9a;
	background-color: #f8f8f8;
}

.task-title {
	font-size: 16px;
	color: $uni-main-color;
	font-weight: bold;
}

.round-dot {
  background: #b4dfc5;
  display: inline-block;
  width: 10rpx;
  height: 10rpx;
  border-radius: 50%;
}

.boxText {
	padding: 0rpx 8rpx;
	background-color: #f9e6e4;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #d54431;
	// width: 44rpx;
	height: 44rpx;
	border-radius: 6rpx;
}

.timeContent {
		border: 1px solid $uni-border-4;
		border-radius: 5px;
		padding: 3px 10px;
		color: $uni-base-color;
		width: 250rpx;
		font-size: 12px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		
	}
	
.top-background-color {
	// background: linear-gradient( 205deg, #56FAF2 0%, #BDF6FB 100%);
	background-color: $my-color-primary;
}