$my-color-primary:#D32F2F;

.fill-btn-primary {
	width: 100%;
	font-size: 15px;
	border-radius: 30px;
	background-color: $my-color-primary;
	color: white;	
}

.class-ceter {
	display: flex; /* 开启flex布局 */
	justify-content: center; /* 水平居中对齐 */
	align-items: center; /* 垂直居中对齐 */
}

.expanded {
	-webkit-box-flex: 1;
	-webkit-flex:1;
	flex: 1;
}

.col-class {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.row-class {
	display: flex;
	flex-direction: row;
	// height: 100%;
}

.bg-color-white {
	background-color: white;
}